html {
    font-size: 32px;
    background-color: #333333;
    color: white;
}

.container {
    display: inline-block;
}

.d-1 {
    font-size: 1.5em;
    display: inline-block;
}

.l-5 {
    font-size: 50%;
}

blockquote {
    font-size: 2rem;
}

.l-3 {
    font-size: 5vh;
}
