.container {
    background-color: #333333;
    color: white;
}

.d-1 {
    /*position: relative;*/
    top: -25px;
    right: -50px;
    background-color: cornflowerblue;
}

.d-2 {
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
}
