/* 1. Выбрать input типа checkbox. */
input[type="checkbox"] {
    display: block;
    width: 200px;
    height: 150px;
}

/* 2. Выбрать input типа checkbox, НЕ отмеченный. */

input[type="checkbox"]:not(:checked) {
    display: inline-block;
}

/* 3. Найти все элементы с id=message или message-* */
[id|="message"] {
    background-color: #333333;
    color: white;
}

/* 4. Найти все элементы с id=message-* */
[id^="message"] {
    background-color: #7a956b;
    color: red;
}

/* 5. Найти все ссылки с расширением href="...zip". */
a[href$="zip"] {
    font-size: 2em;
    height: 100px;
}

/* 6. Найти все элементы с атрибутом data-action,
* содержащим delete в списке (через пробел).
*/
[data-action~="delete"] {
    font-size: 40px;
}

/* 7. Найти все элементы, у которых ЕСТЬ атрибут data-action,
* но он НЕ содержит delete в списке (через пробел)
*/
[data-action]:not([data-action~="delete"]) {
    color: blue;
}

/* 8. Выбрать все чётные элементы списка #messages. */
#messages li:nth-child(2n) {
    background-color: cornflowerblue;
}

/* 9. Выбрать один элемент сразу за заголовком h3#widget-title на том же уровне вложенности. */
h3#widget-title + * {
    font-size: 0;
}

/* 10. Выбрать все ссылки, следующие за заголовком h3#widget-title на том же уровне вложенности. */
h3#widget-title ~ a {
    font-size: 50px;
}

/* 11. Выбрать ссылку внутри последнего элемента списка #messages. */
#messages li:last-child a {

}